<div id="summoner-data" class="box">
    <article class="media">
        <div class="media-left">
            <figure class="image is-128x128 is-marginless">
                <img id="sum-pic" alt="Image">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <strong><span id="sum-name">{{summoner-name}}</span></strong>
                    <br>
                    <small>Level <span id="sum-lvl">{{summoner-lvl}}</span></small>
                </p>
                <p>
                    <span id="sum-queue">{{summoner-queue}}</span><br>
                    <small>
                        <strong><span id="sum-wins">{{summoner-win}}</span> : <span id="sum-loss">{{summoner-loss}}</span></strong>
                        <br>
                        <span id="sum-tier">{{summoner-tier}}</span>
                        <i class="fas fa-caret-right"></i>
                        <span id="sum-lp">{{summoner-lp}}</span> LP
                    </small>
                </p>
            </div>
        </div>
    </article>
</div>