    <section class="hero is-primary">
      <div class="hero-body">
        <div class="container">
          <div class="columns">
            <div class="column is-8-desktop is-offset-2-desktop">
              <div class="columns is-vcentered is-mobile is-grouped">
                <div class="column is-narrow">
                  <img class="image is-64x64" src="//i.imgur.com/vgERB5I.png">
                </div>
                <div class="column">
                  <h1 class="title is-2 is-spaced">
                      LoL Statistics
                  </h1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
