<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SteamClient</title>
    <link rel="stylesheet" href="template/bulma/css/main.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script defer src="template/default/js/default.js"></script>
    <script defer src="template/default/js/summoner.js"></script>
    <script defer src="template/default/js/data.js"></script>

  </head>
<body>
