@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.


// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;

$grey: #171a21;

$lightgrey: #f5f5f5;



$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $grey;
$primary-invert: $pink-invert;

.rotate-180{
    transform:rotate(180deg);
    transition: all 400ms;
}

.rotate-360
{
    transform:rotate(360deg);
    transition: all 400ms;
}

.champion-overview{
    border: 1px solid #eee;
}
.champion-overview > .team:not(:first-child){
    border-left: 1px solid #eee;
}
.team .champion:not(:last-child){
    border-bottom: 1px solid #eee;
}

.team .champion{
    font-size: 14px;
    
}

.team-name
{
    border-bottom: 1px solid #eee;
    margin-bottom: 0px !important;
}

.champion-container{
    display: block !important;
}

.team .champion-info-small{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.team .champion-info-icon-container
{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-top: 0px;
    margin-bottom: 0px !important;
}

.team .champion-info-icon-container div{
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    margin-bottom: 0px !important;
}


.c-tabs{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    border: 1px solid #eee;
}

.c-tabs > .c-tab:not(:last-child)
{
    border-right: 1px solid #eee;
}

.c-tab{
    flex-grow: 1;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.c-tab.selected
{
    background-color: rgba(216, 211, 211, 0.2);
    color: $blue;
    border-bottom: 2px solid;
    margin-bottom: -1px;
}
.c-tab:after {
    display:block;
    content: '';
    border-bottom: solid 2px $blue;  
    transform: scaleX(0);  
    transition: transform 250ms ease-in-out;
    margin-bottom: -2px;
}
.c-tab:hover{
    background-color: rgba(216, 211, 211, 0.2);
}
.c-tab:hover:after{
    transform: scaleX(1);
}

.c-tab.selected{
    font-weight: bold;
}

.match-detail-data{
    display: none;
}

.summoner-pick{
    padding-bottom: 0.25rem !important;
    padding-top: 0.25rem !important;
}

.summoner-pick img
{
    border: 2px solid darkgray;
}

.summoner-pick:hover img{
    border-color: $blue;
}

.summoner-pick.selected img{
    border-color: $blue;
}
.column.has-vcentered-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

#sum-wins{
    color: $green;
}

#sum-loss{
    color: $pink;
}

.mobile-match-infos
{
    margin-top: 0 !important;
}

.c-table-row{
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.c-table-col{
    padding-top: 0.25rem !important;
    padding-bottom: 0.25rem !important;
}

.c-table-header
{
    margin-left: 0.75em;
    margin-right: 0.75em;
    border: 1px solid #eee;
    margin-bottom: 25px;
    border-radius: 5px;
    text-indent: 5px;
    box-shadow: lightgray 0px 0px 10px 0px;
    
}

.data-clickable-header{
    line-height: 40px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-weight: bold;
}

.data-container{
    padding-left: 0.25rem;
    padding-right: 15px;
}

.has-radius-5{
    border-radius: 5px;
}

.no-margin-top
{
    margin-top: 0px !important;
}
.no-margin-bottom
{
    margin-bottom: 0px !important;
}

.champion-info
{
    padding: 0.75em;
}

.items-wrapper
{
    border-bottom:0px solid;
    //margin-top: 0px !important;
}

.tabs-view
{
    line-height: 40px;
}

.match-detail-seperator
{
    border-bottom:1px solid $lightgrey;
}

.has-margin-4
{
    margin:4px;
}

.has-margin-2
{
    margin:2px;
}

.has-margin-8-left-right
{
    margin-left:8px !important;
    margin-right:8px !important;
}

.win-bg{
    background-color: $green;
}

.loss-bg{
    background-color: $pink;
}

.default-bg {
    background-color: #718a90;
    color: white;
}

.summoner-view{
    display:none;
}

.match-data-wrapper {
    border: 1px solid;
    border-radius: 5px;
    font-size: 14px;
}

.match-data{
    display:none;
}

.is-win-border-color
{
    border-color: $green;
}

.is-loss-border-color
{
    border-color: $pink;
}

.is-win
{
    border-left:0em solid $green !important;
}

.is-loss
{
    border-left:0em solid $pink !important;
}
.c-sum-icons
{
    display:flex !important;
    flex-direction: row !important;
}

.c-pic-con{
    min-height: 64px;
    min-width: 64px;
}

.image.is-circle {
    border-radius: 50% !important;
}

.image.is-30x30
{
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.c-sum-spell-con div:first-child{
    margin-bottom:4px;
}
.c-sum-spell-con div:last-child{
    margin-top:4px;
}

.c-sum-rune-con div:first-child{
    margin-bottom:4px;
}
.c-sum-rune-con div:last-child{
    margin-top:4px;
}

.c-sum-icons div{
    margin-left:2px;
}


// 4. Import the rest of Bulma
@import "../node_modules/bulma/bulma";
